body {
  font-family: Arial;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.header {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.header__title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.card {
  width: 625px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.poll__title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.poll__answer {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.poll__answer:hover {
  background-color: #0056b3;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.loading {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.poll__result {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

.next-question {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.next-question:hover {
  background-color: #218838;
}