body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.reveal {
  opacity: 0;
  transition: 0.3s opacity ease-in-out;
  background: orange;
  padding: 20px;
  min-height: 200px;
  box-sizing: border-box;
  color: white;
  font-size: 24px;
  transform: translateY(20px);
}

.reveal_active {
  opacity: 1;
  transform: translateY(0);
}

.header {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__container {
  display: flex;
  align-items: center;
}

.logo__link {
  display: block;
  min-width: 100%;
  min-height: 100%;
  outline: none;
  text-decoration: none;
  color: inherit;
}

.content {
  max-width: 1200px;
  padding: 20px;
  flex-grow: 1;
}

.content > div {
  margin-bottom: 20px;
}