body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

progress {
  margin-bottom: 10px;
  width: 100%;
}

form {
  position: relative;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

button {
  font-size: 14px;
  padding: 10px 20px;
  background-color: #06f;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #005ce6;
}

.header {
  padding: 10px 0;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.logo__container {
  margin-right: 100px;
}

.card {
  width: 600px;
  padding: 20px;
  background-color: #fff !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  margin: 0 auto;
}

#file:focus ~ label {
  border: 1px solid #e2e2e2;
}

.input__wrapper {
  display: inline-block;
}

.input__wrapper-button {
  font-family: Golos, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #06f;
  border: 1px solid transparent;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 8px 12px;
}

.input__wrapper-button:hover {
  background-color: #005ce6;
}

.content {
  margin-top: 50px;
  background-color: #f0f0f0 !important;
}